body {
    font-family: 'Manrope', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    font-weight: bold;
}

header {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 20px;
}

header a {
    font-size: 22px;
    color: inherit;
    text-decoration: none;
    margin-right: 20px;
}

header a:first-child {
    font-size: 36px;
    font-weight: bold;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

table {
    border-collapse: collapse;
    border-radius: 10px;
}

td, th {
    padding: 20px;
}

td:nth-child(1), td:nth-child(2), td:nth-child(3) {
    text-align: center;
}

th {
    background-color: #1D2126;
    color: #949AA1;
    box-shadow: 1px 1px 0px 0px #1D2126;
    text-align: left;
    font-weight: normal;
}

td {
    color: #666A85;
}

button {
    background-color: #262626;
    border-radius: 2px;
    border: none;
    color: #FFFFFF;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: inherit;
    letter-spacing: 0.1em;
}

.pagination a{
    margin-right: 10px;
}

