<!DOCTYPE html>
<html lang="en"
      html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap"
          rel="stylesheet">
    <title>Login</title>
</head>
<body>
<header>
    <h1>Login</h1>
    <ul>
        <li><a href="/register">Register</a></li>
    </ul>
</header>
<main>
    <p>Please provide a name, so you can associate it to your pet!</p>
    <form th:action="@{'/login'}" th:method="post">
        <label for="name">Username</label>
        <input id="name" type="text" name="username">
        <label for="password">Password</label>
        <input id="password" type="password" name="password">
        <button type="submit">LOGIN</button>
    </form>
    <p th:if="${invalidUserdata} != null"
       th:text="'Invalid userdata!'"></p>
</main>
</body>
</html>