<!DOCTYPE html>
<html lang="en" html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap"
          rel="stylesheet">
    <title>Home</title>
</head>
<body>
<header>
    <a th:href="@{'/'}">Todos for today</a>
    <a th:href="@{'/addTodo'}">Add new todo</a>
    <a th:href="@{'/listOfAssignees'}">List of Assignees</a>
</header>
<div class="searchbar">
    <form th:action="@{/searchByTextFields}" th:method="post">
        <label for="searchText">Search text</label>
        <input id="searchText" type="text" name="searchText">
        <label>by</label>
        <select name="searchField">
            <option value="title">title</option>
            <option value="content">content</option>
            <option value="description">description</option>
        </select>
        <button type="submit">Search</button>
    </form>
    <form th:action="@{/searchByDate}" th:method="post">
        <label for="searchDate">Search date</label>
        <input id="searchDate" type="date" pattern="yyyy-MM-dd" name="searchDate">
        <label>by</label>
        <select name="searchDateOption">
            <option value="dueDate">date of due</option>
            <option value="creationDate">date of creation</option>
        </select>
        <button type="submit">Search</button>
    </form>
    <form th:action="@{/searchByAssigneeName}" th:method="post">
        <label for="searchName">Search by Assignee</label>
        <input id="searchName" type="text" name="searchName">
        <button type="submit">Search</button>
    </form>
</div>
<main>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Content</th>
            <th>Description</th>
            <th>Urgent</th>
            <th>Done</th>
            <th>Date of creation</th>
            <th>Date of due</th>
            <th>Assignee</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="todo : ${todos}" th:object="${todo}">
            <td th:text="*{id}"></td>
            <td><a th:href="@{|/${todo.id}/inspectTodo|}"><span th:text="*{title}"></span></a></td>
            <td th:text="*{content}"></td>
            <td th:text="*{description}"></td>
            <td th:text="*{urgent}"></td>
            <td th:text="*{done}" th:style="*{done} == true ? 'color:green;' : 'color:red;'"></td>
            <td th:text="*{dateOfCreation}"></td>
            <td th:text="*{dateOfDue}"></td>
            <td th:text="${todo.assignee} != null ? ${todo.assignee.name} : 'No Assignee selected yet'"></td>
            <td><a th:href="@{|/${todo.id}/deleteTodo|}">delete</a></td>
            <td><a th:href="@{|/${todo.id}/editTodo|}">edit</a></td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>